*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.iconfont {
    width: 60rem;
    height: 60rem;
    fill: currentColor;
    overflow: hidden;
    color: #000 !important;
}
.flex-cc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-sc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-xc{
    display: flex;
    align-items: center;
}
header{
    background: rgb(70,152,254);
    padding: 5rem 30rem;
    color: #fff;
}
.icon-ditu{
    font-size: 60rem;
    color: #fff !important;
}
.icon-sousuo{
    top: 35rem !important;

}

input{
    width: 600rem;
    border: none;
    outline: none;
    border-radius: 60rem;
    padding: 20rem 20rem;
    padding-left: 60rem;
    box-shadow: 1px 1px 5px #000;   
    font-weight: 600;
}

.search{
    padding: 20rem 0;
    position: relative;
}

.search .icon{
    position: absolute;
    right: 5rem;
}

.icon-sousuo{
    position: absolute;
    left: 15rem;
    top: 60rem;
    font-size: 40rem;
}
.search button{
    position: absolute;
    background-color: rgb(91,191,255);
    height: 70rem;
    width: 110rem;
    color: #fff;
    border: none;
    border-radius: 50rem;
    right: 80rem;
}
header .bottom{
    margin-top: 20rem;
    position: relative;
}
.search_icon{
    position: absolute;
    width: 40rem;
    height: 40rem;
    left: 20rem;
}
.tag{
    width: 120rem;
    height: 35rem;
    border-radius: 15rem;
    border: none;
    font-size: 12rem;
    position: absolute;
    right: 100rem;
}

ul{
    overflow: hidden;
    width: 100%;
}
li{
    list-style: none;
    float: left;
    color: gray;
    font-size: 30rem;
    margin-right: 40rem;
    position: relative;
}
.li{
    background-color: rgb(105,167,247);
    color: #fff;
    padding: 6rem 15rem;
    border-radius: 40rem;
}
.tab{
    overflow: scroll;
}
.tab_list{
    margin: 10rem 0;
    width: 2800rem;
}



section{
    padding: 20rem;
    background-color: rgb(244,244,244);
}
.chunk1 div{
    width: 20%;
    text-align: center;
    padding: 20rem 0;
    color: #fff;
}
.chunk1 div img{
    width: 50rem;
    height: 50rem;
}
.chunk2 > div{
    width: 48%;
    background-color: #fff;
    margin-top: 100rem;
}
.chunk2 img{
    width: 160rem;
}
.chunk3 img{
    margin: 40rem 0;
    width: 100%;
    border-radius: 20rem;
}

.chunk4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.chunk4 img{
    width: 48%;
    margin-bottom: 40rem;
}




footer{
    background: #fff;
    /* height: 180rem; */
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 31rem;
}
footer img{
    width: 100%;
}

footer li{
    margin-right: 0;
    width: 100rem;
    font-size: 12rem;
    /* line-height: 30rem; */
    text-align: center;
}

footer .iconfont{
    font-size: 46rem;
    margin-bottom: 0 !important;
}
footer .activend{
    color: rgb(96,175,252);
}
footer .activend .iconfont{
    color: rgb(96,175,252) !important;
}

footer .iconfont{
    display: inline-block;
    margin-bottom: 20rem;
}